@import url(https://fonts.googleapis.com/css?family=Nunito);
//@import url('node_modules/@fortawesome/fontawesome-svg-core/styles');

//Colors
$accent: rgb(0, 110, 153);
$black: #121212;
$white: #FFFFFF;
$blue: #1D2D3A;

// Mixins
@mixin generate-gradient($color) {
    background: -moz-linear-gradient(top, rgba($color, 0) 0%, rgba($color, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba($color, 0)), color-stop(100%, rgba($color, 1)));
    background: -webkit-linear-gradient(top, rgba($color, 0) 0%, rgba($color, 1) 100%);
    background: -o-linear-gradient(top, rgba($color, 0) 0%, rgba($color, 1) 100%);
    background: -ms-linear-gradient(top, rgba($color, 0) 0%, rgba($color, 1) 100%);
    background: linear-gradient(to bottom, rgba($color, 0) 0%, rgba($color, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4800', endColorstr='#ff4800', GradientType=0);
}

// Styles
body {
    align-items: center;
    background: darken($blue, 10);
    display: flex;
    font-family: 'Nunito', sans-serif;
    color: white;
    height: 100vh;
    justify-content: center;
}

audio {
    display: none;
}

.Player {
    background: darken($blue, 3);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 10px -5px rgba($black, 1);
    height: 667px;
    position: relative;
    width: 375px;

    .Background {
        width: 150%;
        height: 150%;
        position: absolute;
        top: -25%;
        left: -25%;
        background: url(https://funkadelphia.files.wordpress.com/2012/09/odesza-summers-gone-lp.jpg);
        background-size: cover;
        background-position: center center;
        opacity: .2;
        filter: blur(10px);
    }

    .Title {
        width: 300px;
        margin: 50px auto;
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: .1em;
        position: relative;
    }

    .Artwork {
        width: 300px;
        height: 300px;
        background: url(https://funkadelphia.files.wordpress.com/2012/09/odesza-summers-gone-lp.jpg);
        background-size: cover;
        background-position: center center;
        border-radius: 4px;
        margin: auto;
        box-shadow: 0 5px 10px -5px rgba($black, .25);
        position: relative;
    }

    .TrackInformation {
        width: 300px;
        margin: 30px auto;
        text-align: center;
        position: relative;

        .Name {
            font-size: 24px;
            margin-bottom: 10px;
            font-weight: 300;
        }

        .Artist {
            font-size: 16px;
            margin-bottom: 5px;
            font-weight: 500;
        }

        .Album {
            font-size: 12px;
            opacity: .5;
        }
    }

    .Scrubber {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 25%;
        opacity: .3;
        transition: opacity .25s ease;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        &:active {
            opacity: 1;
        }

        .Scrubber-Progress {
            @include generate-gradient($accent);
            height: 100%;
            width: 0%;
            transition: width .25s ease;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

            &.play {
                height: 100%;


                transition: height .2s ease, opacity 1s ease;
            }

            &.pause {
                height: 500%;
                //opacity: (.1);


                transition: height .2s ease, opacity 1s ease;
            }
        }
    }

    .Timestamps {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        pointer-events: none;
        z-index: 2;
        width: 100%;

        .Time {
            font-size: 12px;
        }
    }

    .Controls {
        position: absolute;
        bottom: 8%;
        pointer-events: none;
        margin: auto;
        left: 0;
        right: 0;

        .Button {
            height: 75px;
            width: 75px;
            border: 2px solid rgba($white, .5);
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 75px;
            box-shadow: 0 5px 10px 0px rgba($black, .125);
            margin: auto;
            pointer-events: all;

            &:hover {
                -webkit-transition: all 0.5s ease;
                background: $white;

                .fa {
                    color: $accent;
                    opacity: 1;
                }
            }

            &:active {
                transform: scale(.95);
                background: $white;

                .fa {
                    color: $accent;
                    opacity: 1;
                }
            }

            .fa {
                color: $white;
                opacity: .8;
                font-size: 24px;

                &.play {
                    opacity: 1;

                    transition: all .5s ease;
                }

                &.pause {
                    opacity: .8;

                    transition: all .5s ease;
                }

            }
        }
    }
}