body {
  color: white;
  font-family: 'Nunito', sans-serif;
  background: -webkit-linear-gradient(top, rgba(16, 94, 158, 1) 0%, rgba(31, 56, 79, 1) 100%);

  align-items: center;
  justify-content: center;

  overflow: hidden;

  transition: 1ms;
}

.App {
  display: grid;
}

.Main-Header {
  text-align: center;
  background: -webkit-linear-gradient(top, rgba(16, 94, 158, 1) 0%, rgba(31, 56, 79, 1) 100%);
}

.Main-Footer {
  text-align: center;
  position: absolute;
  width: -webkit-fill-available;
  bottom: 0%;
  padding-top: 2.5vh;
  background: -webkit-linear-gradient(top, rgba(16, 94, 158, 1) 0%, rgba(31, 56, 79, 1) 100%);
}

.App-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 35vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}