body {
  background: -webkit-linear-gradient(top, rgba(16, 94, 158, 1) 0%, rgba(31, 56, 79, 1) 100%);
  transition: 1ms;
}

.App-header {
  text-align: center;
  padding-top: 25px
}

.App-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}